node_modules
.turbo
dist
dist-ssr
coverage
.DS_Store
.env
.env.local
.env.*.local
*.local
.vinxi
.output
.nitro
.tanstack
.wrangler
__unconfig*
todos.json
.vercel
src/locales/**/messages.js
src/locales/**/messages.ts
src/locales/**/messages.d.ts
